@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800 & display=swap");

header {
  height: 830px;
}

.navbar {
  z-index: 1000;
  background-color: transparent !important;
}

.navbar-nav {
  text-align: right;
}
.navbar .navbar-nav .nav-link {
  padding-right: 1em;
  color: #000;
  font-size: 1.1em;
}

.carousel-indicators {
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  right: none;
  margin-left: 0%;
  float: left;
}

.carousel-item img{
  height: 100%;
  width: 100%;
}

#latar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#judul {
  position: absolute;
  margin-top: 155px;
  margin-left: 55px;
  font-size: 400%;
  top: 5%;
  left: 0%;
  color: #fff;
}

.text-header {
  position: absolute;
  margin-top: 220px;
  margin-right: 20px;
  text-align: justify;
  background-color: transparent !important;
  width: 500px;
  padding: 10px;
  z-index: 1000;
  font-size: 100%;
  bottom: 20%;
  right: 5%;
  color: #fff;
}

.text-header p {
  margin: 0;
}

/* class untuk main-heading dan sub-heading */
.main-heading {
  font-size: 32px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(
    --tp,
    linear-gradient(125deg, #00a693 4.14%, #132758 110.26%, #132758 110.26%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-heading {
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
}

#section1 {
  height: 700px;
  padding-bottom: 20px;
}

.table1 td {
  padding-bottom: 20px;
}

.td1 {
  width: 30%;
  padding-left: 50px;
  padding-bottom: 70px;
  justify-content: center;
  vertical-align: top;
}

.td1 p {
  /* styling */
  background: var(--tp, linear-gradient(125deg, #00A693 4.14%, #132758 110.26%, #132758 110.26%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* typography */
  font-family: Big Shoulders Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  /* placement */
  line-height: normal;
  vertical-align:top;
}

.td2 p {
  color: var(--secondary, #132758);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 34px; 
  width: 90%;
  text-align: justify;
  padding-left: 20px;
}

.td2 a {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-align: justify;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: aqua;
}

.table2 {
  width: 100%;
  position: absolute;
  background-color: #fff;
}

iframe{
  width: 800;
  height: 457;
}

#visitor p {
  /* layout */
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));
  max-width: 100%;
  width: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*FOOTER*/
footer {
  margin: 10px;
  padding: 20px 30px;
  background: #132758;
  color: #fff;
}

.banner {
  display: flex;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: inline;
}

.contact-us {
  /* displazzy: inline-block; */
  /* margin-right: 100px; */

  font-family: "Big Shoulders Display", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #0000;
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.kunjungi-dan-rasakan {
  /* display: inline-block; */

  font-family: "Big Shoulders Display", sans-serif;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  /* letter-spacing: 0.05em; */
  text-align: left;
  font-variant: all-small-caps;
  color: linear-gradient(136.79deg, #ffffff 24.22%, #7cdbf0 105.58%);
}

.contact-info {
  /* margin-right: 100px; */
  color: #fff;
  display: flex-start;
  /* flex-direction: column; */
  align-items: flex;
}
.contact-info p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 10px;
}

.down {
  display: flex;
  justify-content: space-between;
  padding: 45px 40px 32px 40px;
  margin: 10px;
}

.menuItems {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Section 2 (Model) */
/* Section 2 (Model) */
#section2 {
  background-color: #e2f6ff;
  padding-top: 147px;
}

.wisata {
  display: flex;
  padding: 20px;
  gap: 50px;
  background-color: #e2f6ff;
}

#section2 .wisata {
  gap: 100px;
  padding: 156px 81px 105px 71px;
}

.wisata .ex1 {
  font-family: "Big Shoulders Display", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.teks-wisata {
  /* typography of teks wisata way kalam */
  font-size: 32px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(
    --tp,
    linear-gradient(125deg, #00a693 4.14%, #132758 110.26%, #132758 110.26%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teks-explore {
  /* typography teks-explore */
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
}

.wisata .ex2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-top: 40px;
  padding-right: 81px;
}

.teks-desc {
  /* typography teks-desc */
  color: var(--secondary, #132758);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 32px; /* 160% */

  /* style */
  opacity: 0.7;
}

.cardboard {
  margin-top: 50px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
}

.card1 {
  margin: 10px;
  cursor: pointer;
  color: #fff;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
  width: 50vh;
  height: 60vh;
  filter: blur(1px);
}

.card1.active {
  width: 100%;
  width: 80vh;
  flex: 10;
  filter: blur(0px);
}

.card1.active .teksWisata2 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

#wisata1 {
  background-image: url("bg/gambarCard1.png");
}
#wisata2 {
  background-image: url("bg/gambarCard2.png");
}
#wisata3 {
  background-image: url("bg/gambarCard3.png");
}

.teksWisata2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  margin: 0;
}

.teksWisata2 .buttonColor {
  background-color: transparent;
  border: 2px solid #000; /* Warna border, dapat disesuaikan */
  color: #000; /* Warna teks, dapat disesuaikan */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.teksWisata2 .buttonColor:hover {
  background-color: #00a693;
  border-color: #00a693;
  color: #fff;
}

.umkm {
  /* display: flex; */
  padding-left: 71px;
  padding-top: 210px;
  padding-bottom: 161px;
  gap: 1px;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vw;
  /* height: ; */
  width: 55vw;
}

.teks-produk {
  /* typography of teks wisata way kalam */
  font-size: 35px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(
    --tp,
    linear-gradient(125deg, #00a693 4.14%, #132758 110.26%, #132758 110.26%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teks-dukungUMKM {
  /* typography teks-explore */
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
  padding-bottom: 3rem;
}

.cardumkm {
  /* height: fit-content;
  padding: 0%;
  display: flex;
  gap: 1em; */
  /* padding: 1rem; */
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  /* grid-template-rows: 10px; */
  grid-column-gap: 3vw;
  grid-row-gap: 10px;
  overflow: scroll;
  scroll-snap-type: both mandatory;
  /* scroll-padding: 1rem; */
}

.active {
  scroll-snap-type: unset;
}

.card2 {
  /* card animation style */
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px; 
}

.card2 > p {
  /* positioning */
  align-items: center;
  vertical-align: bottom;
  /* typography */
  color: #FFF;
  text-align: center;
  font-family: Big Shoulders Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

/* menghilangkan scrollbar secara visual */
.cardumkm::-webkit-scrollbar {
  width: 0; 
}

#satu {
  background-image: url("bg/kopi.png");
}
#dua {
  background-image: url("bg/pisang.png");
}
#tiga {
  background-image: url("bg/madu.png");
}

#section3 {
  /* padding: 40px; */
  background-color: #fff;
  padding: 230px 105px 170px 105px;
  /* Piagam Background */
  /* background: url("../client/bg/back.png") no-repeat; */
  /* background-position: right -3% bottom 10%;
  background-position: relative;
  background-size: 35% 35% 40% 100%; */
}

.layer1 {
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  gap: 140px;
  margin-bottom: 200px;
}

.layer2 {
  display: flex;
  flex-direction: row;
  gap: 140px;
}

#section3 .banner {
  width: 528.303px;
  height: 360.004px;
  flex-shrink: 0;
  img {
    border-radius: 5px;
  }
}

.explain {
  display: flex;
  flex-direction: column;
  gap: 20px 30px;
  z-index: 1;
}

.explain-text {
  color: var(--secondary, #132758);
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 32px; /* 160% */
  opacity: 0.7;
}
.moreopt {
  background-color: #132758;
  color: white;
  display: flex;
  gap: 25px;
}

.exp3 {
  padding: 80px 25px 80px 75px;
}

.exp4 {
  padding: 80px 58px 85.5px 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teks-penghargaan {
  /* typography */
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-variant: all-small-caps;

  /* style */
  background: var(--p2, linear-gradient(110deg, #fff 24.22%, #4ac4ec 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teks-moreopt {
  /* typography */
  color: #fff;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 32px; /* 160% */

  /* style */
  opacity: 0.7;
}

/* Section 4 */

hr.border-tebal {
  border: 10px solid white;
}

#section4 {
  background: #ebfafd;
  margin-bottom: 97px;
  padding-bottom: 148px;
  flex-shrink: 0;
}

.judultest {
  padding: 12vw 20vw 2vw 20vw;
}

.text-testimonial {
  /* typography of teks wisata way kalam */
  font-size: 35px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(
    --tp,
    linear-gradient(125deg, #00a693 4.14%, #132758 110.26%, #132758 110.26%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-katamereka {
  /* typography teks-explore */
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
}

.cardTestimoni {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: none;
}

.cardTestimoni > .card {
  width: 35em;
  height: 23em;
  padding: 51px 35px 15px 35px;
  --bs-card-border-color: #fff;
}

.card-header {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.profile-info {
  display: flex;
  flex-direction: column;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.profile-info > p {
  color: var(--secondary, #132758);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-body {
  display: flex;
}

#section4 > #carouselExampleIndicators > .carousel-indicators {
  bottom: -60px;
}

#section4 > #carouselExampleIndicators > .carousel-indicators button {
  /* background-color: #132758; */
  background-color: #9e9c9c;
  border: #9e9c9c;; 
  border-radius: 50%; 
  width: 10px; 
  height: 10px; 
  margin: 0 5px; 
}

#section4 > #carouselExampleIndicators > .carousel-indicators button.active {
  background-color: #132758; 
  border-color: #132758; 
}

.card-text {
  color: var(--secondary, #fff);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  opacity: 0.7;
  align-items: center;
  vertical-align: top;
}

.card-profile {
  width: 5em;
  height: 5em;
  margin-right: 1em;
  background-color: red;
  border-radius: 5px;
}

/* section 5 */
#section5 {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 75px;
}

#inner-section5 {
  display: inline-flex;
  font-family: "Big Shoulders Display", sans-serif;
  color: white;
  width: 100%;
  height: 25rem;
  flex-direction: column;
  gap: 20px;
  /* 0,166,147 */
  background-image: linear-gradient(
      90deg,
      rgba(0, 166, 147, 0.7),
      rgba(19, 39, 88, 0.9)
    ),
    url("../client/bg/section5bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 10px;
    position: relative;
    background: url("../client/bg/section5bg.png"); */
}

.teks-map {
  /* Position */
  padding-top: 1em;
  display: inline;
  flex-direction: column;

  /* layout */
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* font options */
  text-align: center;
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-variant: all-small-caps;
}

.button-map {
  /* Position */
  display: flex;
  margin-left: 31em;
  margin-right: 31em;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /*  style button */
  border-radius: 5px;
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));

  /* Font family */
  font-family: "Plus Jakarta Sans", sans-serif;

  /* font */
  color: var(--secondary, #132758);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  background: var(--secondary, #132758);
  padding: 20px;
  margin: 170px 0px 0px 0px;

  /* Backgroud vector attachment */
  background-image: url("../client/bg/footerVector.png");
  background-position: left 85% bottom -70%; /* Center the background image */
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

footer .banner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  display: flex;
  color: white;
  padding: 40px;
  /* background-image: url("../client/bg/footerVector.png");
  background-position: 50% 0%; Center the background image */
}

.icons {
  display: inline-flex;
  gap: 10px;
  list-style-type: none;
  align-items: flex-end;
}

.container-footer {
  display: flex;
  gap: 50%;
}

.related {
  color: white;
}

.footernotes {
  color: white;
}

hr {
  border: 3px solid white;
}

/* .unit {
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 30%;
  padding: 20px 0px 0px 20px;
  opacity: 1;
} */

.menuItems {
  display: inline-flex;
  gap: 50px;
  justify-content: space-beetween;
}

.menuItems > li > a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}