@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800 & display=swap");

header {
  height: 500px;
}

.d-flex {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent !important;
  padding: 10px;
  z-index: 1000;
  margin-right: 10px;
}

.carousel-indicators {
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  right: none;
  margin-left: 0%;
}

.navbar {
  z-index: 1000;
  background-color: transparent !important;
}

.navbar-nav {
  text-align: right;
}
.navbar .navbar-nav .nav-link {
  padding-right: 1em;
  color: #000;
  font-size: 1.1em;
}

.carousel-indicators {
  float: left;
}

#latar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#judul {
  position: absolute;
  margin-top: 155px;
  margin-left: 55px;
  top: 10px;
  left: 120px;
  color: #fff;
}

.text-header {
  position: absolute;
  margin-top: 220px;
  margin-right: 20px;
  text-align: justify;
  top: 10px;
  right: 10px;
  background-color: transparent !important;
  width: 500px;
  padding: 10px;
  z-index: 1000;
  font-size: 16px;
  color: #fff;
}

.text-header p {
  margin: 0;
}

/* class untuk main-heading dan sub-heading */
.main-heading {
  font-size: 32px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(--tp, linear-gradient(125deg, #00A693 4.14%, #132758 110.26%, #132758 110.26%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-heading {
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
}

#section1 {
  height: 700px;
  padding-bottom: 20px;
}

.table1 td {
  padding-bottom: 20px;
}

.td1 {
  width: 30%;
  padding-left: 50px;
  padding-bottom: 70px;
  justify-content: center;
}

.td1 h2{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
}

.td2 p {
  width: 90%;
  text-align: justify;
  padding-left: 20px;
}

.td2 a {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-align: justify;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: aqua;
}

.table2 {
  width: 100%;
  position: absolute;
  background-color: #fff;
}

.table2 td {
  padding-bottom: 20px;
}

.td3 {
  width: 62%;
  padding-left: 70px;
  padding-top: 20px;
  justify-content: center;
}

.td3 video {
  float: right;
  margin-right: 30px;
  border-radius: 20px;
}

.td4 {
  padding-top: 20px;
}

.td4 img {
  margin-left: 10px;
  border-radius: 20px;
}

/* #section1 {
  height: 700px;
  padding-bottom: 20px;
}

.table1 td {
  padding-bottom: 20px;
}

.td1 {
  width: 30%;
  padding-left: 50px;
  padding-bottom: 70px;
  justify-content: center;
}

.td2 p {
  width: 90%;
  text-align: justify;
  padding-left: 20px;
}

.td2 a {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-align: justify;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: aqua;
}

.table2 {
  width: 100%;
  position: absolute;
  background-color: #fff;
}

.table2 td {
  padding-bottom: 20px;
}

#visitor p {
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.td3 {
  width: 62%;
  padding-left: 70px;
  padding-top: 20px;
  justify-content: center;
}

.td3 video {
  float: right;
  margin-right: 30px;
  border-radius: 20px;
}

.td4 {
  padding-top: 20px;
}

.td4 img {
  margin-left: 10px;
  border-radius: 20px;
} */

/*FOOTER*/
footer {
  margin: 10px;
  padding: 20px 30px;
  background: #132758;
  color: #fff;
}

.banner {
  display: flex;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: inline;
}

.contact-us {
  /* display: inline-block; */
  /* margin-right: 100px; */

  font-family: "Big Shoulders Display", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #0000;
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.kunjungi-dan-rasakan {
  /* display: inline-block; */

  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  /* letter-spacing: 0.05em; */
  text-align: left;
  font-variant: all-small-caps;
  color: linear-gradient(136.79deg, #ffffff 24.22%, #7cdbf0 105.58%);
}

.contact-info {
  /* margin-right: 100px; */
  color: #fff;

  p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: right;
    margin-bottom: 10px;
  }
}

.down {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 10px;
}

.menuItems {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Section 2 (Model) */
#section2 {
  background-color: #e2f6ff;
}

#section2 .wisata {
  gap: 100px;
  padding: 156px 81px 105px 71px;
}

.wisata .ex1 {
  font-family: "Big Shoulders Display", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.teks-wisata {
  /* typography of teks wisata way kalam */
  font-size: 32px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(
    --tp,
    linear-gradient(125deg, #00a693 4.14%, #132758 110.26%, #132758 110.26%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teks-explore {
  /* typography teks-explore */
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
}

.wisata .ex2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-top: 40px;
  padding-right: 81px;
}

.teks-desc {
  /* typography teks-desc */
  color: var(--secondary, #132758);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */

  /* style */
  opacity: 0.5;
}

.wisata {
  display: flex;
  padding: 20px;
  gap: 50px;
  background-color: #e2f6ff;
}

.cardboard {
  display: flex;
  padding: 20px;
  gap: 40px;
}

.umkm {
  display: flex;
  /* flex-direction: column; */
  padding-left: 71px;
  padding-top: 210px;
  padding-bottom: 161px;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teks-produk {
  /* typography of teks wisata way kalam */
  font-size: 35px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(
    --tp,
    linear-gradient(125deg, #00a693 4.14%, #132758 110.26%, #132758 110.26%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teks-dukungUMKM {
  /* typography teks-explore */
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
}

.cardukm {
  padding: 40px;
  display: flex;
  gap: 1em;
}

.cardukm .card {
  padding: 0.5em;
}

#section3 {
  /* padding: 40px; */
  background-color: #FFF;
  padding: 230px 105px 170px 105px;
}

.layer1 {
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  gap: 140px;
  margin-bottom: 200px;
}

.layer2 {
  display: flex;
  flex-direction: row;
  gap: 140px;
}

.banner {
  width: 528.303px;
  height: 360.004px;
  flex-shrink: 0;
  img {
    border-radius: 5px;
  }
}

.explain {
  display: flex;
  flex-direction: column;
  gap: 20px 30px;
}

.explain-text {
  color: var(--secondary, #132758);
  font-family: 'Plus Jakarta Sans',sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.moreopt {
  background-color: darkblue;
  color: white;
  display: flex;
  gap: 25px;
}

.exp3 {
  padding: 80px 25px 80px 75px;
}

.exp4 {
  padding: 85px 58px 85.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teks-penghargaan {
  /* typography */
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-variant: all-small-caps;

  /* style */
  background: var(--p2, linear-gradient(110deg, #fff 24.22%, #4ac4ec 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teks-moreopt {
  /* typography */
  color: #fff;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */

  /* style */
  opacity: 0.7;
}

/* Section 4 */

#section4 {
  background: #EBFAFD;
  margin-bottom: 97px;
  flex-shrink: 0;
}

.judultest {
  padding: 171px 492.5px 616px 494.5px;
}

.text-testimonial {
  /* typography of teks wisata way kalam */
  font-size: 35px;
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* style */
  background: var(--tp, linear-gradient(125deg, #00A693 4.14%, #132758 110.26%, #132758 110.26%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-katamereka {
  /* typography teks-explore */
  color: var(--secondary, #132758);
  font-family: Big Shoulders Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 109.375% */
}

/* section 5 */
#section5 {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 75px;
}

#inner-section5 {
  display: inline-flex;
  font-family: "Big Shoulders Display", sans-serif;
  color: white;
  width: 100%;
  height: 25rem;
  flex-direction: column;
  gap: 20px;
  /* 0,166,147 */
  background-image: linear-gradient(
      135deg,
      rgba(0, 166, 147, 0.7),
      rgba(19, 39, 88, 0.9)
    ),
    url("../client/bg/section5bg.png");

  /* border-radius: 10px;
    position: relative;
    background: url("../client/bg/section5bg.png"); */
}

.teks-map {
  /* Position */
  padding-top: 1em;
  display: inline;
  flex-direction: column;

  /* layout */
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* font options */
  text-align: center;
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-variant: all-small-caps;
}

.button-map {
  /* Position */
  display: flex;
  margin-left: 31em;
  margin-right: 31em;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /*  style button */
  border-radius: 5px;
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));

  /* Font family */
  font-family: 'Plus Jakarta Sans', sans-serif;

  /* font */
  color: var(--secondary, #132758);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  background-color: darkblue;
  padding: 20px;
}

.container-footer {
  display: flex;
  gap: 50%;
}

.related {
  color: white;
}

.footernotes {
  color: white;
}

.banner {
  display: flex;
  color: white;
  padding: 40px;
}

hr {
  color: white;
  height: 50%;
}

.unit {
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 30%;
  padding: 20px 0px 0px 20px;
  opacity: 1;
}

.menuItems {
  display: inline-flex;
  gap: 50px;
}
