/* Font Import Google API's */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

/* Header */
header {
  height: 80vh;
}

/* Navigation Item */
nav {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: transparent !important;
}

/* Logo Header */
#logo {
  display: inline;
  width: 110px;
  height: 110px;
  position: absolute;
  margin-left: 100px;
  top: 10px;
  left: 10px;
}

/* Background Header */
#latar {
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

#latar p {
  font-family: "Big Shoulders Display", sans-serif;
}

#judul {
  position: absolute;
  margin-top: 155px;
  top: 10px;
  color: #fff;
  font-size: 48px;
}

#judul1 {
  position: absolute;
  margin-top: 200px;
  font-size: 200px;
  top: 10px;
  color: #fff;
}

/* Section Sejarah */
#section-about {
  position: relative;
  background: url("../client/bg/Vector.png") no-repeat;
  background-position: left 40%;
}

.container {
  margin: 0;
  padding-top: 75px;
  padding-left: 35px;
  display: flex;
  gap: 5%;
  font-size: 12px;
  color: white;
}

.tahun {
  width: 30%;
  padding-left: 30px;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 32px;
  font-weight: 900;
  word-wrap: break-word;
  background-image: -webkit-linear-gradient(360deg, #00a693, #132758);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Artikel */
.articles {
  color: #132758;
  font-size: 16px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 38px;
  word-wrap: break-word;
  width: 100%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 90px;
}

/* Section Penghargaan */
.section-penghargaan {
  margin-top: 300px;
}

.penghargaan {
  color: #00a693;
  font-size: 32px;
  font-family: Big Shoulders Display;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.penghargaan1 {
  color: #132758;
  font-size: 64px;
  font-family: Big Shoulders Display;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.card-row {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.card {
  width: 400px;
  height: 700px;
  margin: 40px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card img {
  align-self: center;
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.card h2 {
  margin-top: 20px;
  margin-bottom: 0%;
  font-size: 24px;
  text-align: left;
}

.card p {
  margin-top: 0;
  font-size: 14px;
  color: gray;
  text-align: left;
}

footer {
  background: var(--secondary, #132758);
  padding: 20px;
  margin: 170px 0px 0px 0px;

  /* Backgroud vector attachment */
  background-image: url("../client/bg/footerVector.png");
  background-position: left 85% bottom -70%; /* Center the background image */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

footer .banner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  display: flex;
  color: white;
  padding: 40px;
  /* background-image: url("../client/bg/footerVector.png");
  background-position: 50% 0%; Center the background image */
}

.icons {
  display: inline-flex;
  gap: 10px;
  list-style-type: none;
  align-items: flex-end;
}

.container-footer {
  display: flex;
  gap: 50%;
}

.related {
  color: white;
}

.footernotes {
  color: white;
}

hr {
  border: 3px solid white;
}

/* .unit {
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 30%;
  padding: 20px 0px 0px 20px;
  opacity: 1;
} */

.contact-us {
  /* display: inline-block; */
  /* margin-right: 100px; */

  font-family: "Big Shoulders Display", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #0000;
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.kunjungi-dan-rasakan {
  /* display: inline-block; */

  font-family: "Big Shoulders Display", sans-serif;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  /* letter-spacing: 0.05em; */
  text-align: left;
  font-variant: all-small-caps;
  color: linear-gradient(136.79deg, #ffffff 24.22%, #7cdbf0 105.58%);
}

.contact-info {
  /* margin-right: 100px; */
  color: #fff;
  display: flex-start;
  /* flex-direction: column; */
  align-items: flex;
}
.contact-info p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: right;
  margin-bottom: 10px;
}

.down {
  display: flex;
  justify-content: space-between;
  padding: 45px 40px 32px 40px;
  margin: 10px;
}

.down p {
  color: #fff;
}

.menuItems {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menuItems {
  display: inline-flex;
  gap: 50px;
  justify-content: space-beetween;
}

.menuItems > li > a {
  text-decoration: none;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}
.button-map {
  /* Position */
  display: flex;
  margin-left: 31em;
  margin-right: 31em;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /*  style button */
  border-radius: 5px;
  background: var(--p2, linear-gradient(137deg, #fff 24.22%, #7cdbf0 105.58%));

  /* Font family */
  font-family: "Plus Jakarta Sans", sans-serif;

  /* font */
  color: var(--secondary, #132758);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
