/* Font Import Google API's */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wHari ini jam 11:00 pagi sampai dengan pukul 22:00  mengimplementasikan UI Design yang sudah dibuat ke dalam kode untuk tampilan website.ght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

/* Header */
header{
  height: 80vh;
}

/* Navigation Item */
nav {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Logo Header */
#logo {
  display: inline;
  width: 110px;
  height: 110px;
  position: absolute;
  margin-left: 100px;
  top: 10px;
  left: 10px;
}

/* Background Header */
#latar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    overflow: hidden;
}
  
#latar p {
    font-family: "Big Shoulders Display", sans-serif;
}
  
#judul {
  position: absolute;
  margin-top: 155px;
  margin-left: 55px;
  top: 10px;
  left: 120px;
  color: #fff;
}

#judul1 {
  position: absolute;
  margin-top: 250px;
  margin-left: 55px;
  font-size: 200px;
  top: 10px;
  left: 120px;
  color: #fff;
}

/* Section Sejarah */
#section-about {
  position: relative;
  background: url("../client/bg/Vector.png") no-repeat;
  background-position: left  40%;
}
  
.container {
    margin : 0;
    padding-top: 75px;
    padding-left: 35px;
    display: flex;
    gap: 5%;
    font-size: 12px;
    color: white;
}
  
.tahun {
    width: 30%;
    padding-left: 30px;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 32px;
    font-weight: 900;
    word-wrap: break-word;
    background-image: -webkit-linear-gradient(360deg, #00a693, #132758);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Artikel */
.articles {
  color: #132758;
  font-size: 16px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 38px;
  word-wrap: break-word;
  width: 100%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 90px;
}

/* Section Penghargaan */
.section-penghargaan {
  margin-top: 300px;
}

.penghargaan {
  color: #00a693;
  font-size: 32px;
  font-family: Big Shoulders Display;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.penghargaan1 {
  color: #132758;
  font-size: 64px;
  font-family: Big Shoulders Display;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.card-row {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.card {
  width: 400px;
  height: 700px;
  margin: 40px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card img {
  align-self: center;
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.card h2 {
  margin-top: 20px;
  margin-bottom: 0%;
  font-size: 24px;
  text-align: left;
}

.card p {
  margin-top: 0;
  font-size: 14px;
  color: gray;
  text-align: left;
}